.main__contacto {
  text-align: center;
  @include flex (center, center, column);

  @include bc;

  .center {
    @include flex (center, start, row)
  }

  h1 {
    @include flex(center, center, row);
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 30px;
    padding: 10px;
    background-color: transparent;
    margin-bottom: 50px;
    font-family: 'EB Garamond', serif;
    font-size: 3em;
    font-weight: bold;
  }

  .form__contacto {
    width: 90vw;
    min-height: 60vh;
    background-color: grey;
    flex-direction: row;
    display: flex;
    padding: 20px;
    border-radius: 15px;
    margin-top: -50px;
    margin-bottom: 20px;


    .form__box2 {
      @include flex(space-around, center, column);
      min-height: 60vh;

      .card__form-item {
        position: relative;
        width: 70%;
        border-bottom: 2px solid black;
      }



      & textarea {
        resize: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding-right: 30px;
      }

      .card__form-item label,
      .text_area label {
        position: absolute;
        transition: all .5s;
        transform: translateY(-20%);
        top: 50%;
        left: 5px;
        font-weight: bold;
      }

      .card__form-item input {
        border: none;
        padding-top: 5px;
        padding: 35px 0 0 5px;
        width: 100%;
        background-color: transparent;
        outline: none;
      }

      .card__form-item input:focus~label,
      .text_area textarea:focus~label,
      .card__form-item input:valid~label,
      .text_area textarea:valid~label {
        top: -2px;
      }

      .text_area textarea:focus~label,
      .text_area textarea:valid~label {
        top: -20px;
      }

      .card__form-check {
        font-weight: bold;
        @include flex(space-around, center, row);
        width: 70%;
      }

      .card__form-check label {
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        padding: 10px;
        border-radius: 15px;
        border: 2px solid white;
        margin: 20px;
      }

      .card__form-check input {
        appearance: none;
        position: absolute;

      }

      .card__form-check input[type=radio]:checked+label {
        border: 2px solid black;
      }

      .card__form-button button {
        @include flex (center, center, row);
        width: 100%;
        border-radius: 15px;
        padding: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7)
      }

      .card__form-button {
        width: 70%;
        @include flex (center, center, row);
      }

      .text_area {
        width: 80%;
        height: 20%;
        border-bottom: 2px solid black;
        position: relative;
        background-color: transparent;
      }

      .botones {

        @include flex (center, center, row);
      }

      .info__form-item {
        @include flex (space-evenly, center, column);
        width: 40vw;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        height: 70%;
      }


      .info__form-rs i {
        padding: 0 10px;


      }

      .fab {
        width: 30px;
        color: black;
      }
    }
  }
}