@mixin bc {
  background: #BCE7E4;
  background: -moz-linear-gradient(top, #BCE7E4 0%, #83CBC7 74%, #738F98 100%);
  background: -webkit-linear-gradient(top, #BCE7E4 0%, #83CBC7 74%, #738F98 100%);
  background: linear-gradient(to bottom, #BCE7E4 0%, #83CBC7 74%, #738F98 100%);
}

@mixin flex ($just, $aling, $direction) {
  display: flex;
  justify-content: $just;
  align-items: $aling;
  flex-direction: $direction;
}