@import "header";
@import "footer";
@import "variables";
@import "index";
@import "seguros-de-automoviles";
@import "seguros-hogar";
@import "nosotros";
@import "contacto";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}